.graphical-analysis {
	margin: 20px 0 20px;
	display: block;
	position: relative;
	background-color: rgba(255, 255, 255);
	padding: 20px 20px 10px 20px;
}

.graphical-analysis__section {
	border: 2px solid #ffdd5e;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 15px;
}

.graphical-analysis__close-window {
	float: right;
	width: 10px;
	height: 10px;
	margin-right: -12px;
	margin-top: -12px;
	background-position: 50% 50%;
	background-size: 10px 10px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2210.99521541595459%22%20height%3D%2210.425837516784668%22%20style%3D%22%22%3E%3Crect%20id%3D%22backgroundrect%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22none%22%20stroke%3D%22none%22%20style%3D%22%22%20class%3D%22%22/%3E%0A%20%3C%21--%20Created%20with%20Method%20Draw%20-%20http%3A//github.com/duopixel/Method-Draw/%20--%3E%0A%20%3Cg%20style%3D%22%22%3E%0A%20%20%3Ctitle%3Ebackground%3C/title%3E%0A%20%20%3Crect%20fill%3D%22none%22%20id%3D%22canvas_background%22%20height%3D%2221%22%20width%3D%2223%22%20y%3D%22-1%22%20x%3D%22-1%22/%3E%0A%20%20%3Cg%20display%3D%22none%22%20overflow%3D%22visible%22%20y%3D%220%22%20x%3D%220%22%20height%3D%22100%25%22%20width%3D%22100%25%22%20id%3D%22canvasGrid%22%3E%0A%20%20%20%3Crect%20fill%3D%22url%28%23gridpattern%29%22%20stroke-width%3D%220%22%20y%3D%220%22%20x%3D%220%22%20height%3D%22100%25%22%20width%3D%22100%25%22%20id%3D%22svg_2%22/%3E%0A%20%20%3C/g%3E%0A%20%3C/g%3E%0A%20%3Cg%20style%3D%22%22%20class%3D%22currentLayer%22%3E%0A%20%20%3Ctitle%3ELayer%201%3C/title%3E%0A%20%20%0A%20%3Cpath%20fill%3D%22%234a90d6%22%20fill-opacity%3D%221%22%20stroke%3D%22%239a9a9a%22%20stroke-opacity%3D%221%22%20stroke-width%3D%222%22%20stroke-dasharray%3D%22none%22%20stroke-linejoin%3D%22round%22%20stroke-linecap%3D%22butt%22%20stroke-dashoffset%3D%22%22%20fill-rule%3D%22nonzero%22%20opacity%3D%221%22%20marker-start%3D%22%22%20marker-mid%3D%22%22%20marker-end%3D%22%22%20d%3D%22M0.7061010362202458%2C0.7361752231222298%20L10.25837280040887%2C9.746411085941524%20%22%20id%3D%22svg_4%22%20class%3D%22%22/%3E%3Cpath%20fill%3D%22%234a90d6%22%20fill-opacity%3D%221%22%20stroke%3D%22%23222222%22%20stroke-opacity%3D%221%22%20stroke-width%3D%221%22%20stroke-dasharray%3D%22none%22%20stroke-linejoin%3D%22round%22%20stroke-linecap%3D%22butt%22%20stroke-dashoffset%3D%22%22%20fill-rule%3D%22nonzero%22%20opacity%3D%221%22%20marker-start%3D%22%22%20marker-mid%3D%22%22%20marker-end%3D%22%22%20d%3D%22M22.435406419025476%2C20.344497463318135%20L32.17224870200684%2C29.74641151052127%20%22%20class%3D%22%22%20id%3D%22svg_8%22/%3E%3Cpath%20fill%3D%22%234a90d6%22%20fill-opacity%3D%221%22%20stroke%3D%22%23222222%22%20stroke-opacity%3D%221%22%20stroke-width%3D%221%22%20stroke-dasharray%3D%22none%22%20stroke-linejoin%3D%22round%22%20stroke-linecap%3D%22butt%22%20stroke-dashoffset%3D%22%22%20fill-rule%3D%22nonzero%22%20opacity%3D%221%22%20marker-start%3D%22%22%20marker-mid%3D%22%22%20marker-end%3D%22%22%20d%3D%22M20.593301149593408%2C20.511961585494305%20L30.330143432574772%2C29.91387563269744%20%22%20class%3D%22%22%20id%3D%22svg_7%22/%3E%3Cpath%20fill%3D%22%234a90d6%22%20fill-opacity%3D%221%22%20stroke%3D%22%239a9a9a%22%20stroke-opacity%3D%221%22%20stroke-width%3D%222%22%20stroke-dasharray%3D%22none%22%20stroke-linejoin%3D%22round%22%20stroke-linecap%3D%22butt%22%20stroke-dashoffset%3D%22%22%20fill-rule%3D%22nonzero%22%20opacity%3D%221%22%20marker-start%3D%22%22%20marker-mid%3D%22%22%20marker-end%3D%22%22%20d%3D%22M0.7123433214743935%2C9.667867347052209%20L10.20385556189138%2C0.7949030953365497%20%22%20id%3D%22svg_9%22%20class%3D%22%22/%3E%3C/g%3E%0A%3C/svg%3E');
	background-repeat: no-repeat;
	cursor: pointer;
}

.graphical-analysis__input-medium {
	display: inline-block;
	margin-bottom: 10px;
}

.graphical-analysis__input-medium input {
	max-width: 100px;
	text-align: center;
}

.graphical-analysis__table-container {
	width: 815px;
	overflow-x: scroll;
	font-size: small;
}

.graphical-analysis__table {
	border: 1px solid #fff;
	border-collapse: separate;
	border-spacing: 1px;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
}

.graphical-analysis__table th {
	background-color: #72a0d0;
	border: 1px solid #fff;
	color: #fff;
	font-weight: 500;
	padding: 2px 3px;
	max-width: 80px;
}

.graphical-analysis__table tr {
	background-color: #f0f0f0;
}

.graphical-analysis__table td {
	padding: 2px 3px;
	vertical-align: middle;
	border: 1px solid #fff;
	background-color: #ccdbec;
	min-width: 30px;
	white-space: nowrap;
}

.graphical-analysis__table td:nth-child(2) {
	text-align: left;
}

table.graphical-analysis__table tr:nth-child(2n) td {
	background-color: #e6eef5;
}

.graphical-analysis__list-items-disabled ul li {
	margin-bottom: 5px;
	font-family: "Open Sans",sans-serif;
	font-size: small;
	letter-spacing: -0.02em;
}

ul.graphical-analysis__list li {
	height: 25px;
	border: 1px solid rgba(0, 126, 255, 0.24);
	max-width: 230px;
	border-radius: 14px;
	text-align: center;
	vertical-align: middle;
	background-clip: border-box;
	list-style: none;
	margin-top: 10px;
	margin-bottom: 5px;
	cursor: pointer;
	padding-top: 3px;
}

li.graphical-analysis__list-item-selected {
	background-color: rgba(0, 126, 255, 0.08);
}

.graphical-analysis__list-radio li {
	margin-top: 5px;
	letter-spacing: -.02em;
	text-align: left;
}

ul.graphical-analysis__list-radio li input {
	margin-right: 5px;
	vertical-align: sub;
}

ul.graphical-analysis__list-radio li text {
	line-height: 18px;	
}

.graphical-analysis__select {
	max-width: 300px;
}

.graphical-analysis__checkbox-text {
	margin-left: 5px;
}

.graphical-analysis__checkbox-text input {
	vertical-align: sub;
}

.graphical-analysis__report-title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #113458;
	font-size: 18px;
	font-weight: 500;
}

.graphical-analysis__subtitle {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: larger;
}

.graphical-analysis__block {
	width: 100%;
	min-height: 110px;
	padding: 10px;
	border: 2px solid #e7e7e7;
	border-radius: 7px;
	background-color: #fff;
	font-size: 12px;
	margin-bottom: 20px;
	min-height: 135px;
}

.graphical-analysis__image-wrapper {

}

.graphical-analysis__image-wrapper-qqplot {
	height: 830px;
}

.graphical-analysis__toolbar {
	display: inline-block;
	min-width: 110px;
	max-width: 210px;
	vertical-align: top;
	margin-top: 10px;
	margin-right: 20px;
}

.graphical-analysis__list-radio-wrapper {
	display: inline-block;
}

.graphical-analysis__select-range {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
}

.graphical-analysis__select-range span:first-child {
	margin-left: 0;
}

.graphical-analysis__select-range input {
	max-width: 40px;
	text-align: center;
	height: 25px;
}

.graphical-analysis__buttons-wrapper {
	text-align: center;
}

.graphical-analysis__button {
	min-width: 150px;
	max-width: 180px;
	width: 100%;
	height: 30px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 0px, rgba(0, 0, 0, 0.2) 0px -2px 0px 0px inset;
	color: rgb(0, 0, 0);
	display: inline-block;
	font-family: inherit;
	font-size: 12px;
	white-space: nowrap;
	letter-spacing: -0.02em;
	line-height: 1.9em;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.25) 0px 1px 0px;
	background: linear-gradient(rgb(253, 227, 146) 0%, rgb(254, 206, 80) 100%) repeat-x;
	background-repeat: repeat-x;
	border-width: 0px;
	border-style: none;
	border-color: initial;
	border-image: initial;
	border-radius: 0.25em;
	padding: 2px 5px;
	text-decoration: none;
	margin: 10px 20px 10px 0;
}

.graphical-analysis__button:hover {
	background: linear-gradient(rgb(254, 206, 80) 0%, rgb(255, 198, 51) 100%);
}

.graphical-analysis__table-sample-wrapper {
	float: left;
	max-height: 2640px;
	overflow: scroll;
	overflow-x: hidden;
	font-size: small;
}

.graphical-analysis__table-sample {
	width: 380px;
	border: 1px solid #fff;
	border-collapse: separate;
	border-spacing: 1px;
	font-size: 12px;
	margin: 0 0 20px 0;
	text-align: center;
	vertical-align: middle;
}

.graphical-analysis__table-sample th {
	background-color: #72a0d0;
	border: 1px solid #fff;
	color: #fff;
	font-weight: 500;
	padding: 2px 3px;
	max-width: 80px;
	vertical-align: middle;
}

.graphical-analysis__table-sample tr {
	background-color: #f0f0f0;
}

.graphical-analysis__table-sample td {
	padding: 2px 3px;
	vertical-align: middle;
	border: 1px solid #fff;
	background-color: #ccdbec;
	min-width: 30px;
	white-space: nowrap;
}

.graphical-analysis__table-sample td:first-child {
	max-width: 10px;
}

.graphical-analysis__table-sample td:nth-child(3) {
	width: 170px;
}

table.graphical-analysis__table-sample tr:nth-child(2n) td {
	background-color: #e6eef5;
}

ul.graphical-analysis__list-buttons-change-intervals li {
  width: 200px;
  height: 25px;
  border: 1px solid rgba(0, 126, 255, .24);
  max-width: 210px;
  border-radius: 14px;
  text-align: center;
  background-clip: border-box;
  list-style: none;
  margin-bottom: 5px;
  cursor: pointer;
  padding-top: 4px
}