.analytic-office__save-report {
	float: right;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	margin-top: -2px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20enable-background%3D%22new%200%200%20231%20231%22%20width%3D%2224%22%20height%3D%2224.200000762939453%22%20style%3D%22%22%3E%3Crect%20id%3D%22backgroundrect%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22none%22%20stroke%3D%22none%22%20style%3D%22%22%20class%3D%22%22/%3E%0A%20%20%0A%3Cg%20class%3D%22currentLayer%22%20style%3D%22%22%3E%3Ctitle%3ELayer%201%3C/title%3E%3Crect%20fill%3D%22%23ffffff%22%20stroke-dashoffset%3D%22%22%20fill-rule%3D%22nonzero%22%20id%3D%22svg_10%22%20x%3D%220%22%20y%3D%221.4901161193847656e-8%22%20width%3D%2224%22%20height%3D%2224.241936112056464%22%20style%3D%22color%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%20class%3D%22%22/%3E%3Cg%20class%3D%22%22%20fill-opacity%3D%221%22%20fill%3D%22%231f82b7%22%20id%3D%22svg_13%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M20.742151668343592%2C0.01316451659192159%20h-1.7812030244175834%20v8.723778021169528%20h-13.830517601360054%20V0.01316451659192159%20h-5.134055776262444%20v24.279430396266996%20h24.098629153884946%20V3.4467594611168137%20L20.742151668343592%2C0.01316451659192159%20zM20.63737501984842%2C20.929210615540544%20h-17.288147001700064%20v-8.723778021169528%20h17.288147001700064%20V20.929210615540544%20z%22%20id%3D%22svg_15%22%20fill%3D%22%231f82b7%22/%3E%0A%20%20%20%20%3Crect%20width%3D%223.4576294027275085%22%20x%3D%2213.722116179350916%22%20height%3D%226.93698021112275%22%20id%3D%22svg_17%22%20y%3D%220.013164518085935733%22%20fill%3D%22%231f82b7%22/%3E%0A%20%20%3C/g%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.analytic-office__close-report {
	float: right;
	width: 10px;
	height: 10px;
	background-position: 50% 50%;
	background-size: 10px 10px;
	margin-right: -3px;
	margin-top: -3px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20width%3D%2210.99521541595459%22%20height%3D%2210.425837516784668%22%20style%3D%22%22%3E%3Crect%20id%3D%22backgroundrect%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20x%3D%220%22%20y%3D%220%22%20fill%3D%22none%22%20stroke%3D%22none%22%20style%3D%22%22%20class%3D%22%22/%3E%0A%20%3C%21--%20Created%20with%20Method%20Draw%20-%20http%3A//github.com/duopixel/Method-Draw/%20--%3E%0A%20%3Cg%20style%3D%22%22%3E%0A%20%20%3Ctitle%3Ebackground%3C/title%3E%0A%20%20%3Crect%20fill%3D%22none%22%20id%3D%22canvas_background%22%20height%3D%2221%22%20width%3D%2223%22%20y%3D%22-1%22%20x%3D%22-1%22/%3E%0A%20%20%3Cg%20display%3D%22none%22%20overflow%3D%22visible%22%20y%3D%220%22%20x%3D%220%22%20height%3D%22100%25%22%20width%3D%22100%25%22%20id%3D%22canvasGrid%22%3E%0A%20%20%20%3Crect%20fill%3D%22url%28%23gridpattern%29%22%20stroke-width%3D%220%22%20y%3D%220%22%20x%3D%220%22%20height%3D%22100%25%22%20width%3D%22100%25%22%20id%3D%22svg_2%22/%3E%0A%20%20%3C/g%3E%0A%20%3C/g%3E%0A%20%3Cg%20style%3D%22%22%20class%3D%22currentLayer%22%3E%0A%20%20%3Ctitle%3ELayer%201%3C/title%3E%0A%20%20%0A%20%3Cpath%20fill%3D%22%234a90d6%22%20fill-opacity%3D%221%22%20stroke%3D%22%239a9a9a%22%20stroke-opacity%3D%221%22%20stroke-width%3D%222%22%20stroke-dasharray%3D%22none%22%20stroke-linejoin%3D%22round%22%20stroke-linecap%3D%22butt%22%20stroke-dashoffset%3D%22%22%20fill-rule%3D%22nonzero%22%20opacity%3D%221%22%20marker-start%3D%22%22%20marker-mid%3D%22%22%20marker-end%3D%22%22%20d%3D%22M0.7061010362202458%2C0.7361752231222298%20L10.25837280040887%2C9.746411085941524%20%22%20id%3D%22svg_4%22%20class%3D%22%22/%3E%3Cpath%20fill%3D%22%234a90d6%22%20fill-opacity%3D%221%22%20stroke%3D%22%23222222%22%20stroke-opacity%3D%221%22%20stroke-width%3D%221%22%20stroke-dasharray%3D%22none%22%20stroke-linejoin%3D%22round%22%20stroke-linecap%3D%22butt%22%20stroke-dashoffset%3D%22%22%20fill-rule%3D%22nonzero%22%20opacity%3D%221%22%20marker-start%3D%22%22%20marker-mid%3D%22%22%20marker-end%3D%22%22%20d%3D%22M22.435406419025476%2C20.344497463318135%20L32.17224870200684%2C29.74641151052127%20%22%20class%3D%22%22%20id%3D%22svg_8%22/%3E%3Cpath%20fill%3D%22%234a90d6%22%20fill-opacity%3D%221%22%20stroke%3D%22%23222222%22%20stroke-opacity%3D%221%22%20stroke-width%3D%221%22%20stroke-dasharray%3D%22none%22%20stroke-linejoin%3D%22round%22%20stroke-linecap%3D%22butt%22%20stroke-dashoffset%3D%22%22%20fill-rule%3D%22nonzero%22%20opacity%3D%221%22%20marker-start%3D%22%22%20marker-mid%3D%22%22%20marker-end%3D%22%22%20d%3D%22M20.593301149593408%2C20.511961585494305%20L30.330143432574772%2C29.91387563269744%20%22%20class%3D%22%22%20id%3D%22svg_7%22/%3E%3Cpath%20fill%3D%22%234a90d6%22%20fill-opacity%3D%221%22%20stroke%3D%22%239a9a9a%22%20stroke-opacity%3D%221%22%20stroke-width%3D%222%22%20stroke-dasharray%3D%22none%22%20stroke-linejoin%3D%22round%22%20stroke-linecap%3D%22butt%22%20stroke-dashoffset%3D%22%22%20fill-rule%3D%22nonzero%22%20opacity%3D%221%22%20marker-start%3D%22%22%20marker-mid%3D%22%22%20marker-end%3D%22%22%20d%3D%22M0.7123433214743935%2C9.667867347052209%20L10.20385556189138%2C0.7949030953365497%20%22%20id%3D%22svg_9%22%20class%3D%22%22/%3E%3C/g%3E%0A%3C/svg%3E');
	background-repeat: no-repeat;
	cursor: pointer;
}

.analytic-office__report-title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #113458;
	font-size: 18px;
	font-weight: 500;
}

.analytic-office__report-subtitle {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
}

.report1-table-wrapper {
	max-width: 1600px;
	overflow: scroll;
	overflow-y: hidden;
}

.report1-table {
	border-collapse: separate;
	font-size: 12px;
	min-width: 1620px;
}
.report1-table th{
	background-color: #72a0d0;
	border: 1px solid #fff;
	color: #fff;
	font-weight: 500;
	padding: 2px 3px;
}
table.report1-table th, table.report1-table tr {
	text-align: center;
	vertical-align: middle;
}
.report1-table td {
	min-width: 20px;
	max-width: 40px;
	padding: 2px 3px;
	vertical-align: middle;
	border: 1px solid #fff;
	background-color: #ccdbec;
}

table.report1-table tr:nth-child(2n) td {
	background-color: #e6eef5;
}

.report1-block {
	min-height: 730px;
	background-color: #fff;
}